USE [master]
GO
/****** Object:  Database [TodoAppDb]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE DATABASE [TodoAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TodoAppDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TodoAppDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TodoAppDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TodoAppDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TodoAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TodoAppDb]
GO
/****** Object:  Table [dbo].[TodoList]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoList](
	[ListId] [uniqueidentifier] NOT NULL,
	[OwnerUserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Color] [varchar](16) NULL,
	[IsArchived] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](3) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_TodoList] PRIMARY KEY CLUSTERED 
(
	[ListId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TodoTask]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TodoTask](
	[TaskId] [uniqueidentifier] NOT NULL,
	[ListId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [varchar](16) NOT NULL,
	[Priority] [tinyint] NOT NULL,
	[StartAt] [datetimeoffset](0) NULL,
	[DueAt] [datetimeoffset](0) NULL,
	[CompletedAt] [datetimeoffset](0) NULL,
	[EstimatedMinutes] [int] NOT NULL,
	[ReminderMinutesBefore] [int] NULL,
	[IsRecurring] [bit] NOT NULL,
	[RecurrenceRule] [nvarchar](200) NULL,
	[OrderIndex] [decimal](9, 4) NOT NULL,
	[CreatedByUserId] [uniqueidentifier] NOT NULL,
	[UpdatedByUserId] [uniqueidentifier] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](3) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[IsAiGenerated] [bit] NOT NULL,
	[AiSource] [nvarchar](50) NULL,
	[AiRawInput] [nvarchar](1000) NULL,
 CONSTRAINT [PK_TodoTask] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[v_OpenTasks]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[v_OpenTasks]
AS
SELECT
    t.TaskId, t.Title, t.Status, t.Priority, t.StartAt, t.DueAt, t.OrderIndex,
    l.ListId, l.Name AS ListName, l.OwnerUserId,
    t.CreatedAt, t.UpdatedAt
FROM dbo.TodoTask t
JOIN dbo.TodoList l ON l.ListId = t.ListId
WHERE t.IsDeleted = 0
  AND l.IsDeleted = 0
  AND t.Status IN ('Todo','InProgress','Blocked');
GO
/****** Object:  Table [dbo].[ActivityLog]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivityLog](
	[ActivityId] [bigint] IDENTITY(1,1) NOT NULL,
	[ActorUserId] [uniqueidentifier] NOT NULL,
	[ResourceType] [varchar](16) NOT NULL,
	[ResourceId] [uniqueidentifier] NOT NULL,
	[Action] [varchar](24) NOT NULL,
	[DetailJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ActivityLog] PRIMARY KEY CLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AiParsedInput]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AiParsedInput](
	[ParsedId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[RawText] [nvarchar](1000) NOT NULL,
	[ParsedJson] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ParsedId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppUser]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppUser](
	[UserId] [uniqueidentifier] NOT NULL,
	[Email] [nvarchar](320) NOT NULL,
	[PasswordHash] [varbinary](max) NULL,
	[DisplayName] [nvarchar](120) NOT NULL,
	[TimeZone] [nvarchar](64) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_AppUser] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_AppUser_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attachment]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attachment](
	[AttachmentId] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[FileName] [nvarchar](260) NOT NULL,
	[ContentType] [nvarchar](100) NULL,
	[SizeBytes] [bigint] NULL,
	[StorageUrl] [nvarchar](1024) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Attachment] PRIMARY KEY CLUSTERED 
(
	[AttachmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Body] [nvarchar](max) NOT NULL,
	[IsEdited] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](3) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[NotificationId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Type] [varchar](32) NOT NULL,
	[PayloadJson] [nvarchar](max) NULL,
	[IsRead] [bit] NOT NULL,
	[ReadAt] [datetime2](3) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[RefreshTokenId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TokenHash] [char](64) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[ExpiresAt] [datetime2](3) NOT NULL,
	[RevokedAt] [datetime2](3) NULL,
	[ReplacedByTokenHash] [char](64) NULL,
	[DeviceInfo] [nvarchar](255) NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[RefreshTokenId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reminder]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reminder](
	[ReminderId] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[RemindAt] [datetimeoffset](0) NOT NULL,
	[SentAt] [datetimeoffset](0) NULL,
	[Channel] [varchar](16) NOT NULL,
 CONSTRAINT [PK_Reminder] PRIMARY KEY CLUSTERED 
(
	[ReminderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Share]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Share](
	[ShareId] [uniqueidentifier] NOT NULL,
	[ResourceType] [varchar](16) NOT NULL,
	[ResourceId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Role] [varchar](16) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Share] PRIMARY KEY CLUSTERED 
(
	[ShareId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subtask]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtask](
	[SubtaskId] [uniqueidentifier] NOT NULL,
	[TaskId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](300) NOT NULL,
	[IsDone] [bit] NOT NULL,
	[OrderIndex] [decimal](9, 4) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
	[EstimatedMinutes] [int] NULL,
 CONSTRAINT [PK_Subtask] PRIMARY KEY CLUSTERED 
(
	[SubtaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tag]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tag](
	[TagId] [uniqueidentifier] NOT NULL,
	[OwnerUserId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[Color] [varchar](16) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
 CONSTRAINT [PK_Tag] PRIMARY KEY CLUSTERED 
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Tag_Owner_Name] UNIQUE NONCLUSTERED 
(
	[OwnerUserId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTag]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTag](
	[TaskId] [uniqueidentifier] NOT NULL,
	[TagId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_TaskTag] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC,
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Activity_Res]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Activity_Res] ON [dbo].[ActivityLog]
(
	[ResourceType] ASC,
	[ResourceId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AiParsedInput_User]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_AiParsedInput_User] ON [dbo].[AiParsedInput]
(
	[UserId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attachment_Task]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Attachment_Task] ON [dbo].[Attachment]
(
	[TaskId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Comment_Task]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Comment_Task] ON [dbo].[Comment]
(
	[TaskId] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_User_Unread]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Notification_User_Unread] ON [dbo].[Notification]
(
	[UserId] ASC
)
WHERE ([IsRead]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RefreshToken_ExpiresAt]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_RefreshToken_ExpiresAt] ON [dbo].[RefreshToken]
(
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_RefreshToken_User_TokenHash]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_RefreshToken_User_TokenHash] ON [dbo].[RefreshToken]
(
	[UserId] ASC,
	[TokenHash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reminder_Due]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Reminder_Due] ON [dbo].[Reminder]
(
	[RemindAt] ASC
)
INCLUDE([TaskId]) 
WHERE ([SentAt] IS NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Share_User]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Share_User] ON [dbo].[Share]
(
	[UserId] ASC,
	[ResourceType] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Share_Unique]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Share_Unique] ON [dbo].[Share]
(
	[ResourceType] ASC,
	[ResourceId] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Subtask_Task]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_Subtask_Task] ON [dbo].[Subtask]
(
	[TaskId] ASC,
	[OrderIndex] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TaskTag_Tag]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TaskTag_Tag] ON [dbo].[TaskTag]
(
	[TagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TodoList_Owner_Active]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TodoList_Owner_Active] ON [dbo].[TodoList]
(
	[OwnerUserId] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TodoTask_AI]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TodoTask_AI] ON [dbo].[TodoTask]
(
	[IsAiGenerated] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TodoTask_DueAt_Open]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TodoTask_DueAt_Open] ON [dbo].[TodoTask]
(
	[DueAt] ASC
)
WHERE (([Status] IN ('todo', 'doing', 'blocked')) AND [IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TodoTask_List_NotDeleted]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TodoTask_List_NotDeleted] ON [dbo].[TodoTask]
(
	[ListId] ASC,
	[IsDeleted] ASC
)
INCLUDE([Status],[DueAt],[Priority],[OrderIndex],[UpdatedAt]) 
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TodoTask_Status]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TodoTask_Status] ON [dbo].[TodoTask]
(
	[Status] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TodoTask_Status_Active]    Script Date: 15/03/2026 8:56:56 CH ******/
CREATE NONCLUSTERED INDEX [IX_TodoTask_Status_Active] ON [dbo].[TodoTask]
(
	[Status] ASC
)
WHERE ([IsDeleted]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ActivityLog] ADD  CONSTRAINT [DF_ActivityLog_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AiParsedInput] ADD  DEFAULT (newsequentialid()) FOR [ParsedId]
GO
ALTER TABLE [dbo].[AiParsedInput] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppUser] ADD  CONSTRAINT [DF_AppUser_UserId]  DEFAULT (newsequentialid()) FOR [UserId]
GO
ALTER TABLE [dbo].[AppUser] ADD  CONSTRAINT [DF_AppUser_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AppUser] ADD  CONSTRAINT [DF_AppUser_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AppUser] ADD  CONSTRAINT [DF_AppUser_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Attachment] ADD  CONSTRAINT [DF_Attachment_AttachmentId]  DEFAULT (newsequentialid()) FOR [AttachmentId]
GO
ALTER TABLE [dbo].[Attachment] ADD  CONSTRAINT [DF_Attachment_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_CommentId]  DEFAULT (newsequentialid()) FOR [CommentId]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_IsEdited]  DEFAULT ((0)) FOR [IsEdited]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Comment] ADD  CONSTRAINT [DF_Comment_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_NotificationId]  DEFAULT (newsequentialid()) FOR [NotificationId]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_IsRead]  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notification] ADD  CONSTRAINT [DF_Notification_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RefreshToken] ADD  CONSTRAINT [DF_RefreshToken_Id]  DEFAULT (newsequentialid()) FOR [RefreshTokenId]
GO
ALTER TABLE [dbo].[RefreshToken] ADD  CONSTRAINT [DF_RefreshToken_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reminder] ADD  CONSTRAINT [DF_Reminder_ReminderId]  DEFAULT (newsequentialid()) FOR [ReminderId]
GO
ALTER TABLE [dbo].[Reminder] ADD  CONSTRAINT [DF_Reminder_Channel]  DEFAULT ('inapp') FOR [Channel]
GO
ALTER TABLE [dbo].[Share] ADD  CONSTRAINT [DF_Share_ShareId]  DEFAULT (newsequentialid()) FOR [ShareId]
GO
ALTER TABLE [dbo].[Share] ADD  CONSTRAINT [DF_Share_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Subtask] ADD  CONSTRAINT [DF_Subtask_SubtaskId]  DEFAULT (newsequentialid()) FOR [SubtaskId]
GO
ALTER TABLE [dbo].[Subtask] ADD  CONSTRAINT [DF_Subtask_IsDone]  DEFAULT ((0)) FOR [IsDone]
GO
ALTER TABLE [dbo].[Subtask] ADD  CONSTRAINT [DF_Subtask_OrderIndex]  DEFAULT ((1000)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[Subtask] ADD  CONSTRAINT [DF_Subtask_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Subtask] ADD  CONSTRAINT [DF_Subtask_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF_Tag_TagId]  DEFAULT (newsequentialid()) FOR [TagId]
GO
ALTER TABLE [dbo].[Tag] ADD  CONSTRAINT [DF_Tag_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TodoList] ADD  CONSTRAINT [DF_TodoList_ListId]  DEFAULT (newsequentialid()) FOR [ListId]
GO
ALTER TABLE [dbo].[TodoList] ADD  CONSTRAINT [DF_TodoList_IsArchived]  DEFAULT ((0)) FOR [IsArchived]
GO
ALTER TABLE [dbo].[TodoList] ADD  CONSTRAINT [DF_TodoList_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TodoList] ADD  CONSTRAINT [DF_TodoList_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TodoList] ADD  CONSTRAINT [DF_TodoList_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_TaskId]  DEFAULT (newsequentialid()) FOR [TaskId]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_Status]  DEFAULT ('Todo') FOR [Status]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_Priority]  DEFAULT ((3)) FOR [Priority]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_IsRecurring]  DEFAULT ((0)) FOR [IsRecurring]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_OrderIndex]  DEFAULT ((1000)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TodoTask] ADD  CONSTRAINT [DF_TodoTask_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TodoTask] ADD  DEFAULT ((0)) FOR [IsAiGenerated]
GO
ALTER TABLE [dbo].[ActivityLog]  WITH CHECK ADD  CONSTRAINT [FK_Activity_Actor] FOREIGN KEY([ActorUserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[ActivityLog] CHECK CONSTRAINT [FK_Activity_Actor]
GO
ALTER TABLE [dbo].[Attachment]  WITH CHECK ADD  CONSTRAINT [FK_Attachment_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[TodoTask] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Attachment] CHECK CONSTRAINT [FK_Attachment_Task]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[TodoTask] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Task]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_User]
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[RefreshToken] CHECK CONSTRAINT [FK_RefreshToken_User]
GO
ALTER TABLE [dbo].[Reminder]  WITH CHECK ADD  CONSTRAINT [FK_Reminder_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[TodoTask] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reminder] CHECK CONSTRAINT [FK_Reminder_Task]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [FK_Share_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [FK_Share_User]
GO
ALTER TABLE [dbo].[Subtask]  WITH CHECK ADD  CONSTRAINT [FK_Subtask_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[TodoTask] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Subtask] CHECK CONSTRAINT [FK_Subtask_Task]
GO
ALTER TABLE [dbo].[Tag]  WITH CHECK ADD  CONSTRAINT [FK_Tag_Owner] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[Tag] CHECK CONSTRAINT [FK_Tag_Owner]
GO
ALTER TABLE [dbo].[TaskTag]  WITH CHECK ADD  CONSTRAINT [FK_TaskTag_Tag] FOREIGN KEY([TagId])
REFERENCES [dbo].[Tag] ([TagId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskTag] CHECK CONSTRAINT [FK_TaskTag_Tag]
GO
ALTER TABLE [dbo].[TaskTag]  WITH CHECK ADD  CONSTRAINT [FK_TaskTag_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[TodoTask] ([TaskId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TaskTag] CHECK CONSTRAINT [FK_TaskTag_Task]
GO
ALTER TABLE [dbo].[TodoList]  WITH CHECK ADD  CONSTRAINT [FK_TodoList_Owner] FOREIGN KEY([OwnerUserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[TodoList] CHECK CONSTRAINT [FK_TodoList_Owner]
GO
ALTER TABLE [dbo].[TodoTask]  WITH CHECK ADD  CONSTRAINT [FK_TodoTask_CreatedBy] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[TodoTask] CHECK CONSTRAINT [FK_TodoTask_CreatedBy]
GO
ALTER TABLE [dbo].[TodoTask]  WITH CHECK ADD  CONSTRAINT [FK_TodoTask_List] FOREIGN KEY([ListId])
REFERENCES [dbo].[TodoList] ([ListId])
GO
ALTER TABLE [dbo].[TodoTask] CHECK CONSTRAINT [FK_TodoTask_List]
GO
ALTER TABLE [dbo].[TodoTask]  WITH CHECK ADD  CONSTRAINT [FK_TodoTask_UpdatedBy] FOREIGN KEY([UpdatedByUserId])
REFERENCES [dbo].[AppUser] ([UserId])
GO
ALTER TABLE [dbo].[TodoTask] CHECK CONSTRAINT [FK_TodoTask_UpdatedBy]
GO
ALTER TABLE [dbo].[Reminder]  WITH CHECK ADD  CONSTRAINT [CK_Reminder_Channel] CHECK  (([Channel]='push' OR [Channel]='email' OR [Channel]='inapp'))
GO
ALTER TABLE [dbo].[Reminder] CHECK CONSTRAINT [CK_Reminder_Channel]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [CK_Share_Role] CHECK  (([Role]='owner' OR [Role]='editor' OR [Role]='viewer'))
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [CK_Share_Role]
GO
ALTER TABLE [dbo].[Share]  WITH CHECK ADD  CONSTRAINT [CK_Share_Type] CHECK  (([ResourceType]='task' OR [ResourceType]='list'))
GO
ALTER TABLE [dbo].[Share] CHECK CONSTRAINT [CK_Share_Type]
GO
ALTER TABLE [dbo].[TodoTask]  WITH CHECK ADD  CONSTRAINT [CK_TodoTask_Priority] CHECK  (([Priority]>=(1) AND [Priority]<=(5)))
GO
ALTER TABLE [dbo].[TodoTask] CHECK CONSTRAINT [CK_TodoTask_Priority]
GO
ALTER TABLE [dbo].[TodoTask]  WITH CHECK ADD  CONSTRAINT [CK_TodoTask_Status] CHECK  (([Status]='Cancelled' OR [Status]='Blocked' OR [Status]='Done' OR [Status]='InProgress' OR [Status]='Todo'))
GO
ALTER TABLE [dbo].[TodoTask] CHECK CONSTRAINT [CK_TodoTask_Status]
GO
/****** Object:  StoredProcedure [dbo].[usp_CompleteTask]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_CompleteTask]
    @TaskId uniqueidentifier,
    @ActorUserId uniqueidentifier
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.TodoTask
      SET Status = 'Done',
          CompletedAt = SYSUTCDATETIME(),
          UpdatedByUserId = @ActorUserId,
          UpdatedAt = SYSUTCDATETIME()
    WHERE TaskId = @TaskId AND IsDeleted = 0;

    INSERT INTO dbo.ActivityLog(ActorUserId, ResourceType, ResourceId, Action)
    VALUES(@ActorUserId, 'task', @TaskId, 'complete');
END
GO
/****** Object:  StoredProcedure [dbo].[usp_GetPendingReminders]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GetPendingReminders]
    @Now datetimeoffset(0)
AS
BEGIN
    SET NOCOUNT ON;

    -- Explicit reminders
    SELECT r.ReminderId, r.TaskId, r.RemindAt, r.Channel
    FROM dbo.Reminder r
    JOIN dbo.TodoTask t ON t.TaskId = r.TaskId
    WHERE r.SentAt IS NULL
      AND r.RemindAt <= @Now
      AND t.IsDeleted = 0;

    -- Derived reminders via DueAt - ReminderMinutesBefore
    SELECT t.TaskId, t.DueAt, t.ReminderMinutesBefore
    FROM dbo.TodoTask t
    WHERE t.IsDeleted = 0
      AND t.ReminderMinutesBefore IS NOT NULL
      AND t.DueAt IS NOT NULL
      AND DATEADD(MINUTE, -t.ReminderMinutesBefore, t.DueAt) <= @Now
      AND t.Status IN ('todo','doing','blocked');
END
GO
/****** Object:  StoredProcedure [dbo].[usp_SeedSample]    Script Date: 15/03/2026 8:56:56 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_SeedSample]
AS
BEGIN
    SET NOCOUNT ON;
    SET XACT_ABORT ON;

    BEGIN TRAN;

    DECLARE @u1 uniqueidentifier;
    DECLARE @list uniqueidentifier;
    DECLARE @task uniqueidentifier;
    DECLARE @tag uniqueidentifier;

    -- User
    IF NOT EXISTS (SELECT 1 FROM dbo.AppUser WHERE Email = N'alice@example.com')
    BEGIN
        INSERT INTO dbo.AppUser (Email, DisplayName, TimeZone)
        VALUES (N'alice@example.com', N'Alice', N'Asia/Ho_Chi_Minh');
    END
    SELECT @u1 = UserId FROM dbo.AppUser WHERE Email = N'alice@example.com';

    -- List
    IF NOT EXISTS (SELECT 1 FROM dbo.TodoList WHERE OwnerUserId = @u1 AND Name = N'Việc cá nhân' AND IsDeleted = 0)
    BEGIN
        INSERT INTO dbo.TodoList (OwnerUserId, Name, Color)
        VALUES (@u1, N'Việc cá nhân', '#3B82F6');
    END
    SELECT @list = ListId FROM dbo.TodoList WHERE OwnerUserId = @u1 AND Name = N'Việc cá nhân' AND IsDeleted = 0;

    -- Task
    IF NOT EXISTS (SELECT 1 FROM dbo.TodoTask WHERE ListId = @list AND Title = N'Mua đồ siêu thị' AND IsDeleted = 0)
    BEGIN
        INSERT INTO dbo.TodoTask (ListId, Title, [Description], Priority, DueAt, CreatedByUserId, UpdatedByUserId)
        VALUES (@list, N'Mua đồ siêu thị', N'Mua sữa, trứng, bánh mì',
                3, DATEADD(HOUR, 2, SYSDATETIMEOFFSET()), @u1, @u1);
    END
    SELECT @task = TaskId FROM dbo.TodoTask WHERE ListId = @list AND Title = N'Mua đồ siêu thị' AND IsDeleted = 0;

    -- Subtasks
    IF NOT EXISTS (SELECT 1 FROM dbo.Subtask WHERE TaskId = @task AND Title = N'Mua sữa')
        INSERT INTO dbo.Subtask (TaskId, Title) VALUES (@task, N'Mua sữa');

    IF NOT EXISTS (SELECT 1 FROM dbo.Subtask WHERE TaskId = @task AND Title = N'Mua trứng')
        INSERT INTO dbo.Subtask (TaskId, Title) VALUES (@task, N'Mua trứng');

    -- Tag
    IF NOT EXISTS (SELECT 1 FROM dbo.Tag WHERE OwnerUserId = @u1 AND Name = N'Gia đình')
        INSERT INTO dbo.Tag (OwnerUserId, Name, Color) VALUES (@u1, N'Gia đình', '#F59E0B');

    SELECT @tag = TagId FROM dbo.Tag WHERE OwnerUserId = @u1 AND Name = N'Gia đình';

    -- TaskTag
    IF NOT EXISTS (SELECT 1 FROM dbo.TaskTag WHERE TaskId = @task AND TagId = @tag)
        INSERT INTO dbo.TaskTag (TaskId, TagId) VALUES (@task, @tag);

    -- Reminder
    IF NOT EXISTS (SELECT 1 FROM dbo.Reminder WHERE TaskId = @task AND SentAt IS NULL)
        INSERT INTO dbo.Reminder (TaskId, RemindAt, Channel)
        VALUES (@task, DATEADD(HOUR, 1, SYSDATETIMEOFFSET()), 'inapp');

    COMMIT;
END
GO
USE [master]
GO
