@page "/dashboard"
@layout MainLayout

<h3>Dashboard</h3>

<p class="text-muted">
    (Tạm thời đây là dashboard của tài khoản cố định)
</p>

<p>
    Bạn sẽ map sau với Todolists / Calendar / My Tasks.
</p>
